/.phpunit.cache
/node_modules
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
*.zip
/.DS_Store
/.icloud
.composer.phar.icloud
resources/img/.DS_Store
resources/img/dl/.Dooroutlet_belteri_ajto_raktari_uveges_szinek_2024.pdf.icloud
public/build/assets/.Dooroutlet_belteri_ajto_raktari_uveges_szinek_2024-3c582ef8.pdf.icloud
resources/views/collections/.DS_Store
.DS_Store
.icloud
resources/img/.DS_Store
resources/.DS_Store
_ide_helper.php
_ide_helper_models.php
